.popup-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 50;
  transition: 300ms all ease;
  width: 100%;
  height: 100%;
  padding: 20px;

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 51;
  }

  .popup {
    position: relative;
    background-color: #fff;
    border-radius: 14px;
    padding: 20px;
    min-width: 500px;
    z-index: 52;

    @media (max-width: 767.98px) {
      width: 90vw;
      max-width: 500px;
      min-width: unset;
      padding: 15px;
    }

    .popup-close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: rgb(175, 175, 175);
      i {
        font-size: 22px;
      }

      &:hover {
        color: gray;
      }
    }
  }

  .popup-confirmation {
    max-width: 350px;
    border-radius: 14px;
    background-color: #fff;
    padding: 20px;
    z-index: 52;
    text-align: center;

    .action {
      display: flex;
      justify-content: center;
      gap: 10px;

      button {
        width: 100px;

        & > div {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}
// popup animation
