.list-group-item-heading {
  font-size: 13px;
    white-space: nowrap; /* Jangan biarkan teks turun ke baris baru */
    overflow: hidden;    /* Potong teks yang melampaui lebar elemen */
    text-overflow: ellipsis;
    margin-bottom: 0; /* Tambahkan "..." di ujung teks yang terpotong */
  }

  .list-group-item-text {
    font-size: 12px;
    white-space: nowrap; /* Jangan biarkan teks turun ke baris baru */
    overflow: hidden;    /* Potong teks yang melampaui lebar elemen */
    text-overflow: ellipsis;  
    margin-bottom: 0      /* Menambahkan "..." di akhir teks yang terpotong */
  }

  .list-group-item-date {
    font-size: 10px;
    color: #6c757d;  /* Warna abu-abu yang lebih muda */
    margin-top: 5px;
  }

  .list-group-item-hover:hover {
    color: #ffffff;
    background-color: #b7bbbe; 
    border-left: 10px solid #ff0505; /* Mengubah warna teks agar lebih kontras */
  }
  
  /* Atur padding dan margin agar tidak terlalu rapat */
  .list-group-item-hover {
    transition: background-color 0.9s ease!important; 
    /* Menambahkan transisi halus */
  }

  .list-group-title {
    font-size: 16px; /* Ukuran font untuk judul */
    font-weight: bold; /* Menebalkan teks judul */
    color: #6c757d; /* Warna teks judul, bisa diganti sesuai preferensi */
    margin-bottom: 18px; /* Memberikan jarak bawah antara judul dan daftar */
    // text-align: center; /* Menyelaraskan judul di tengah */
  }

  .list-group-item-strip {
    border-bottom: none;
    border-top: none;
    border-left: 10px solid #007bff;
    background: #ffffff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    // padding: 10px;
}