.search-container {
  width: 360px;
  height: 32px;

  input {
    height: 100%;
    width: 100%;
    outline: 0.8px solid #afafaf;
    padding: 0 10px;
    border-radius: 12px;
    border: none;
    background-color: #f3f3f3;
    transition: all 150ms ease;
    font-size: 14px;

    &:focus {
      outline: 1.5px solid #5685b8;
    }

    &::placeholder {
      color: #afafaf;
    }
  }
}
