.member {
  display: flex;
  justify-content: flex-start;
  width: 100px;

  img {
    margin-right: -10px;
  }
}

.img-list {
  width: 80px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

.content {
  display: flex;
}
.image {
  flex: 1;
  min-height: 250px;
  width: 100%;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .image {
    min-height: 180px;
  }
}
.text {
  flex: 2;
}

.spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}

.data-table-wrapper {
  width: 100%;
  overflow-x: auto;
}
