.project-nav {
  display: flex;
  gap: 10px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 4px;

  a {
    position: relative;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 4px 20px;
    transition: all 300ms ease;

    &:hover {
      background-color: rgb(109, 109, 109);
      color: white !important;
    }

    &.active {
      background-color: rgb(109, 109, 109);
      color: white !important;
    }

    .count {
      position: absolute;
      min-width: 14px;
      height: 14px;
      display: grid;
      align-items: center;
      justify-content: center;
      top: 2px;
      right: 8px;
      font-size: 10px;
      border-radius: 50%;
      transition: all 300ms ease;
    }
  }
}

.overall-process {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 4px;

  .overall-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 49%;
    border-radius: 8px;
    background: rgb(243, 242, 242);
  }
}

.act-list {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid rgb(194, 194, 194);
  box-shadow: 2px rgb(239, 103, 103);
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding: 10px;

  .search-input {
    display: flex;
    width: 60%;
    align-items: center;
    gap: 4px;

    input {
      border: none;
      width: 100%;
      color: inherit;

      &:focus {
        outline: none;
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all 300ms ease;

    &:hover {
      background-color: rgb(195, 195, 195);
    }

    i {
      font-size: 18px;
    }
  }
}

.board {
  background-color: white;
  height: max-content;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all 300ms ease;
  animation: board-animation 350ms ease;
  transition: all 500ms ease;

  @keyframes board-animation {
    0% {
      transform: scale(0.95);
      background-color: transparent;
    }
    100% {
      transform: scale(1);
      background-color: white;
    }
  }

  .board-header {
    display: flex;
    justify-content: space-between;
  }

  .board-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
    margin: 7px 0;
    color: black;
    border-radius: 10px;
    padding-left: 5px;
    transition: all 300ms ease;
    background-color: rgb(248, 248, 248);
    // border-bottom: 1px solid rgb(214, 214, 214);

    &:hover {
      background-color: rgb(237, 236, 236);
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .task-title {
      font-size: 14px;

      &:hover {
        cursor: pointer;
      }
    }

    .task-bottom {
      display: flex;
      justify-content: space-between;

      .task-info {
        font-size: 14px;
      }
    }

    .task-action {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 2px;
      padding: 0 10px;

      i {
        font-size: 20px;
        color: rgb(186, 185, 185);

        &:first-child:hover {
          color: rgb(34, 186, 34);
          cursor: pointer;
        }
      }

      .comment {
        position: relative;
        height: 20px;

        i {
          color: rgb(186, 185, 185);

          &:hover {
            color: rgb(186, 185, 185);
            background: none;
          }
        }

        div {
          right: -3px;
          top: -3px;
          min-width: 12px;
          height: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: absolute;
          font-size: 8px;
          background-color: #fb778f;
          color: white;
          padding: 1.3px 3px 0px 3px;
        }
      }

      .circular-progress {
        height: 30px;
        width: 40px;
      }
    }
  }

  .subtask {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 4px solid rgb(204, 240, 204);

    // &:hover > i {
    //   display: block;
    // }

    // i {
    //   color: rgb(186, 185, 185);
    //   cursor: pointer;
    //   display: none;
    // }
  }

  .board-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
    border-top: 1px solid rgb(210, 210, 210);
    margin-top: 10px;
  }
}

.member {
  display: flex;
  justify-content: end;
  margin-right: 17px;

  img {
    margin-right: -17px;
  }
}

.member-2 {
  position: relative;
  display: flex;
  justify-content: end;
  height: 35px;
  width: 80px;

  .member-item {
    position: absolute;
    display: flex;

    img {
      margin-left: -12px;
      border: 2px solid white;
    }

    .member-plus {
      height: 35px;
      width: 35px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      font-size: 12px;
      border: 4px solid white;
      margin-left: -12px;
    }
  }
}

.board-action {
  cursor: pointer;

  &:hover {
    color: rgb(79, 144, 79);
  }
}

.new-task {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #7460ee;

  .body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    // border-bottom: 1px solid rgb(210, 210, 210);

    .input {
      flex: 1;

      textarea {
        width: 100%;
        outline: none;
        border: none;
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 5px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .option {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 20px;
      width: 70%;

      input[type='date']::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: white;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        border: none;
      }

      .duedate {
        display: flex;
        align-items: center;
      }
    }

    .action {
      display: flex;
      gap: 10px;
      height: max-content;
    }
  }
}

// i {
//   font-size: 20px;
// }

.btn-assigne {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  border: 1px solid white;
  transition: all 300ms ease;

  &:hover {
    background-color: #d0d0d0;
    border: 1px solid #7460ee;
  }

  span {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: -3px;
    right: 0;
    font-size: 9px;
    background-color: chocolate;
    color: white;
    border-radius: 50%;
  }
}

.btn-icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  // padding: 5px;
  border-radius: 50%;
  text-align: center;

  &:hover {
    background-color: #d0d0d0;
  }
}

.custom-card {
  transition: all 300ms ease;

  &:hover {
    box-shadow: none;
  }
}

.file-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.progress-bar {
  position: relative;
  height: 35px;
  background-color: red;

  .num {
    position: absolute;
    font-size: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2px;
  }

  .white {
    color: white;
  }
}

.fav-btn {
  width: 34px;
  height: 34px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease;

  i {
    color: rgb(228, 228, 228);
  }

  .is_favorite {
    color: #ffb22b;
  }

  &:hover {
    background-color: white;

    i {
      color: #ffb22b;
    }
  }
}
